
body{
    background-color: #1e1e1e;
}
.main-content2{
    height: 100vh;
    padding: 50px;
    margin-top: 100px;
    color: antiquewhite;
}
hr{
    width: 70px;
    height: 1.5px;
   background-color: #c6f850;
   border-radius: 50%;
   margin-top: 0;
   margin-left: 20px;
}

.cards2{
    display: grid;
    height: 100%; 
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.card{
  background-color: #c6f850;
  display: flex;
  justify-content:start;
  align-items:flex-start;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  color: #000;
  padding: 15px;
  font-weight: 600;
  font-size: larger;
  box-shadow: 6px 6px 6px -6px #fcf1f1;
  height: 200px;
}
.one{
      background-image:  url("img/m9.jpg");
}
.two{
      background-image: url("img/m7.jpg");
}
.three{
      background-image: url("img/mm8.jpg");
}
.four{
      background-image: url("img/mu5.jpg");
}
.five{
      background-image: url("img/mus3.jpg");
}
.six{
      background-image: url("img/mu2.jpg");
}
.seven{
      background-image: url("img/musi4.jpg");
}
.eight{
      background-image: url("img/music-head-260nw-112490057.jpg");
}
.nine{
      background-image: url("img/pexels-andrea-piacquadio-783243.jpg");
}
.ten{
      background-image: url("img/pexels-nardo-3574678.jpg");
}
.eleven{

}
.twelve{

}
.card:hover{
        color: #fff;
        font-size: x-large;
        background-blend-mode:multiply;
    
}
  
@media (max-width: 768px){
     .cards2{
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr);
   }
}
.main-header{
      background-color: #000;
}